h1 {
  text-align: center;
}

body {
  background-color: rgb(53, 50, 50);
  background-image: url(https://wallpaperplay.com/walls/full/b/a/4/140043.jpg);
  background-size: 100%;
  margin: 0;
  color: goldenrod;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}
body h1 {
  font-size: 30px;
  font-weight: normal;
  text-decoration-line: underline;
  line-height: 1.5em;
}
.title {
  text-align: center;
}

.topnav {
  text-align: left;
  padding: 5px 5px 5px 5px;
  width: 75% !important;
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 10px;
  width: max-content;
  color: goldenrod;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.topnav a {
  color: rgb(218, 163, 26);
  float: left;
  text-align: center;
  padding: 16px 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.hover {
  background-color: rgb(204, 0, 17);
  color: rgb(185, 185, 185);
}

.topnav a.active {
  color: rgb(122, 24, 24);
}
.box-1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(128, 21, 21);
  color: rgb(235, 180, 180);
  border: 5px rgb(240, 190, 52);
  border-style: dotted;
  padding: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  text-align: center;
  box-shadow: inset 1em 1em 1em rgb(59, 15, 15);
  box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
}
.box-1 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: underline;
  text-transform: capitalize;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1em;
}
.box-1 h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: normal;
  text-transform: capitalize;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1em;
}

.container {
  width: 80%;
  margin: auto;
}

.popUp {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(128, 21, 21);
  padding: 15px;
  margin: 60px;
  border-radius: 15px;
  text-align: center;
  box-shadow: inset 1em 1em 1em rgb(59, 15, 15);
}
.button {
  background-color: goldenrod;
  color: rgb(78, 40, 40);
  font-weight: bold;
  padding: 10px 15px;
  boarder: 2px rgb(58, 15, 15);
  boarder-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.button:hover {
  background-color: white;
  color: rgb(207, 88, 88);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.my-form.form-group {
  padding-bottom: 20px;
}
.my-form lable {
}
.my-form input[type="text"],
.myform textarea {
  padding: 8px;
  width: 100%;
}
.footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
  color: goldenrod;
}

.searchbar {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin: auto;
}

.searchbar input {
  text-align: center;
  height: 30px;
  width: 500px;

  -moz-border-radius: 15px;
  border-radius: 15px;
  border: solid 1px black;
  padding: 5px;
}
